/* Multi-line ellpsis for preview text https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text */
p.post-text {
    display: block;
    display: -webkit-box;
    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1px;        /* Lines get cut-off with clamping, needs a bit of buffer */
}

/* Multi-line ellipsis for result title */
.title-text {
    display: block;
    display: -webkit-box;
    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;        /* Lines get cut-off with clamping, needs a bit of buffer */
}

.post-title, .post-content {
    color: inherit;
}